

html, body{

	background-color: rgb(31, 31, 31);

    font-family: 'Fira Sans Condensed', sans-serif;
    color: #fff;

    margin: 0;
    
}

.block {

    height: 100vh;
    width: 80%;
    margin: auto;

}

.flex_center {

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.flex_center_space {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.block_header {
    
    height: 20%;
    
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}


.highlight {
    
    color: #ff8843;

}






.home {
    
    height: 100vh;

}

.image_home {

    width: 100%;
    height: 100%;

    background-image: url("../media/Home/pexels-coffee.jpg");
    background-size: cover;
    background-position: center;

    position: absolute;

    opacity: 35%;

}

.text_home {

    font-size: 3rem;

    z-index: 1;

}


.social_media_home {
    display: none;
}


.title {
    
    font-size: 3rem;
    
}

.mini_title {
    
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    
}

.foto_about {
    
    width: 30%;

    box-shadow: 10px 10px 10px black;

}

.text_about {

    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content_text_about {

    margin-top: 2rem;
    font-size: 1.2rem;

}



.projects_container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.column_element {

    width: 31%;
}

.video_content {

    width: 100%;

    box-shadow: 10px 10px 10px black;

}


.description {
    
    margin-top: 2rem;
    font-size: 1rem;
    text-align: justify;

}

.center_container {

    height: 80%;

    display: flex;
    align-items: center;

}




.video_fade {
    position: relative;
}

.video_fade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video_fade:hover::before {
    opacity: 0.8;
}


.video_fade .text_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
    
    color: #c25617;
    font-size: 2.5rem;
    text-align: center;
}

.video_fade:hover .text_link {
    opacity: 1;
}




.social_media {

    z-index: 1;

    position: fixed;
    bottom: 30px;
    left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.icon {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    text-decoration: none;
}

.icon:hover img {
    filter: drop-shadow(0px 0px 5px #ffb88f);
}


.icon_text {
    display: none;
    margin: 0;
    margin-left: 15px;
    color: #fff;
}


.linkedin_icon:hover .icon_text {
    display: block;
}

.mail_icon:hover .icon_text {
    display: block;
}

.itchio_icon:hover .icon_text {
    display: block;
}




.en{
    display: none;
}



#buttonLanguage {

    z-index: 1;

    position: fixed;
    bottom: 30px;
    right: 30px;

    border: 2px solid #ff8843;
    padding: 5px 5px;

    cursor: pointer;

    border-radius: 8px;
    background-color: transparent;

    font-size: 1em;
    color: #ff8843;

}

#buttonLanguage:hover {
    filter: drop-shadow(0px 0px 5px #ffb88f);
}


.desktop {
    display: block;
}

.mobile {
    display: none;
}



/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */


/* RESPONSIVE */


/* Tablet */
@media (min-width:768px) and (max-width:1025px){


}


/* Phone */
@media (max-width:767px) {
    

    .text_home {
        font-size: 1.5rem;
        margin-left: 20%;
        margin-right: 20%;
    }

    .social_media_home {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        min-height: 20vh;
    }



    .block {
        min-height: 100vh;
        height: fit-content;
        width: 80%;
        margin: auto;
    }

    .flex_center_space {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .foto_about {
        width: 60%;
    }

    .text_about {
        width: 100%;
        margin-top: 20%;
    }




    .title {
        font-size: 2rem;
    }

    .mini_title {
        font-size: 1rem;
        margin-bottom: 1rem;
    }


    .projects_container {
        flex-direction: column;
    }

    .column_element {
        width: 100%;
        margin-top: 15%;
    }

    .center_container {
        height: auto;
    }

    .description {
        font-size: 0.9rem;
    }


    .block_header {
        margin-top: 20%;
    }



    .social_media {
        position: inherit;

        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        margin-top: 25%;
        margin-bottom: 30%;
    }

    .icon {
        scale: 1.3;
        flex-direction: column;
        margin-top: 0;
    }


    #buttonLanguage {
        right: auto;
        left: 30px;
    }

    .social_media_home .icon_text {
        scale: 1;
        margin-top: 0.7rem;
    }

}